@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.colorBackground {
  background-color: #ccedfa;
  height: 92%;
  position: fixed;
  width: 100%;
  top: 8%;
}

.img {
  height: 150px;
  width: 150px;
}

.img2 {
  margin-left: 50px;
  height: 150px;
  width: 150px;
}

.imgAccueil {
  height: 320px;
  width: 320px;
}

.map {
  height: auto;
  max-width: 800px;
  border: solid;
}

.font {
  font-size: 400%;
}

@media all and (max-width: 760px) {
  .font {
    font-size: 300%;
  }
}
