@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.colorBackground {
  background-color: #ccedf4;
}

.img {
  height: 150px;
  width: 150px;
}

.img2 {
  margin-left: 50px;
  height: 150px;
  width: 150px;
}

.imgAccueil {
  height: 320px;
  width: 320px;
}

.map {
  height: auto;
  max-width: 800px;
  border: solid;
}
